body{
    background-image: linear-gradient(55deg, #B0E0E6, #ffffff);
}
/* Estilo para todos os inputs do tipo "number" */
input[type="number"] {
  width: 100px; /* Altere o valor conforme necessário */
  font-size: 25px;
}
input[type="text"] {
  width: 100px; /* Altere o valor conforme necessário */
  font-size: 25px;
}