/* Estilo para o corpo da página */
body {
    background-image: linear-gradient(55deg, #B0E0E6, #ffffff);
}

/* Estilo para todos os inputs do tipo "number" e "text" */
input[type="number"],
input[type="text"],
select {
    width: 100px; /* Largura */
    font-size: 23px; /* Tamanho da fonte */
}

