/* Estilo para o corpo da página */
body {
    background-image: linear-gradient(35deg, #000000, #ffffff);
}

/* Estilo para todos os inputs do tipo "number" e "text" */
input[type="number"],
input[type="text"],
select {
    width: 320px; /* Largura */
    font-size: 15px; /* Tamanho da fonte */
}

