{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'plataforma/css/plataforma.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block titulo %}
    Operador(a) {{ nome }}
{% endblock %}

{% block bv %}
    <div class="bem-vindo">
        <h2>Bem vindo <b>{{ nome }}</b>, esta é sua área de trabalho &#x1F4A7</h2>
    </div>
{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
        <div class="card">
        <div class="card-body">
            {% for dados in agua_tratada_grafico_vetor %}
            <center>
                    <div class="dados_grafico">
                    <div class="card text-bg-primary mb-3" style="max-width: 21rem;">
                    <div class="card-header"> <h6>{{ dados.usuario }} | {{ dados.data_analise_agua }}</h6></div>
                    <div class="card-body">
                        pH:  {{ dados.ph }}<br>
                        Cloro:  {{ dados.cloro }}<br>
                        Turbidez:  {{ dados.turbidez }}
                    </div>
                    </div>
                    </div>
            </center>
                {% endfor %}
        </div>
        </div>
    </div>
    <div class="col-md-8"><br>

        {% for item in parametro %}
        <table border="2">
        <tr>
            <th> <b>Parâmetro</b></th>
            <th>Min.</th>
            <th>Ideal</th>
            <th>Max.</th>
        </tr>
        <tr>
            <td> <b>FLUOR</b></td>
            <td>{{ item.fluor_min }} ppm</td>
            <td>{{ item.fluor_ideal }} ppm</td>
            <td>{{ item.fluor_max }} ppm</td>
        </tr>
        <tr>
            <td> <b>CLORO</b></td>
            <td>{{ item.cloro_min }} ppm</td>
            <td>{{ item.cloro_ideal }} ppm</td>
            <td>{{ item.cloro_max }} ppm</td>
        </tr>
        <tr>
            <td> <b>PH</b></td>
            <td>{{ item.ph_min }}</td>
            <td>{{ item.ph_ideal }}</td>
            <td>{{ item.ph_max }}</td>
        </tr>
        <tr>
            <td> <b>COR</b></td>
            <td>{{ item.cor_min }} uH</td>
            <td>{{ item.cor_ideal }} uH</td>
            <td>{{ item.cor_max }} uH</td>
        </tr>
        <tr>
            <td> <b>TURBIDEZ</b></td>
            <td>{{ item.turbidez_min }} uT</td>
            <td>{{ item.turbidez_ideal }} uT</td>
            <td>{{ item.turbidez_max }} uT</td>
        </tr>
    </table>
        {% endfor %}
<hr>
    {% if avisos %}
      <div class="card">
      <div class="card-body">
          <div class="alert alert-danger" role="alert">
           {% for msg in avisos %}
              {{ msg }}
           {% endfor %}
    {% else %}
              Vá para o DJANGO-ADM deixe uma mensagem,<br>
              Sempre deixe uma mensagem pré-definida,<br><br>
              app: Plataformam<br>
              campo: Operadores avisos<br><br>
              Com essa mensagem o template se ajeita,<br>
              e a parte visual melhora, é nescessário sempre<br>
              ter uma mensagem, mesmo que seja padrão,<br>
              do tipo: <b>Sem Mensagem do ADM</b>
    {% endif %}
          </div>

      </div>
      </div><br>
<span class="badge rounded-pill text-bg-dark" style="font-size: 23px;">
    <center>{{ultimo_operador}} adicionou cal pela última vez no dia {{ultimo_data}}</center>
</span>


<br><br>
<center>
        <div class="card">
            <div class="card-body">
                <font color="blue"><b>Descrição do dia: {{ descricao_agora }},  temperatura: {{ temperatura_html }}</b></font>
            </div>
        </div>
</center>
    </div>



  </div>
</div>

{% endblock %}