{% extends 'base2.html' %}
{% load static %}
{% block title%}Analises básicas interna{% endblock %}
{% block body %}
    <center>
<div class="card">
  <div class="card-body"><br><br>
      <h1><b>Análises básica interna</b></h1>

  </div>
</div>
</center>
{% endblock %}
{% block input %}
<br>
    {% if not informativo %}
            <div class="alert alert-secondary" role="alert">
            <font color="red" size="6" face="verdana">Sem mensagens...</font></div>
    {% endif %}
    {% for info in informativo %}
<center>
        <div class="alert alert-secondary" role="alert">
            <font color="brown" face="verdana" size="4">{{ info.informativo }}</font>
</div>
</center>

    {% endfor %}

{% endblock %}
