{% extends 'base3.html' %}
{% load static %}

{% block title %}
    Analises de dados
{% endblock %}

{% block body %}
{% endblock %}

{% block input %}
<br><hr>
<font color="#c0c0c0">
<marquee behavior="alternate" direction="left" scrollamount="3" scrolldelay="100" bgcolor="black">
  <b>Últimas Análises dos Operadores</b> Cloro: {{ dados_agua_tratada_cloro }} | pH: {{ dados_agua_tratada_ph }} | Flúor {{ dados_agua_tratada_fluor }} |Cor: {{ dados_agua_tratada_cor }} | Turbidez: {{ dados_agua_tratada_turbidez }} | PAC: {{ dados_agua_bruta_pac }} | CAl: 17kilos/dia (média)
</marquee>
</font>
<center>
  <font color="#000000" font="verdana" ><h2>Análises de Dados</h2></font>
</center>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- Conteúdo da primeira coluna -->
      <h2><font color="red">Título</font></h2>
        <p><font color="#ffffff" >Vestibulum euismod sapien sed tellus condimentum, eget rutrum odio ultricies.</font></p>
    </div>
    <div class="col-md-3">
      <!-- Conteúdo da segunda coluna -->
        <h2><font color="yellow">Título</font></h2>
        <p><font color="#ffffff" >Vestibulum euismod sapien sed tellus condimentum, eget rutrum odio ultricies.</font></p>
    </div>
    <div class="col-md-3">
      <!-- Conteúdo da terceira coluna -->
      <h2><font color="orange">Título</font></h2>
        <p><font color="#ffffff" >Vestibulum euismod sapien sed tellus condimentum, eget rutrum odio ultricies.</font></p>
    </div>
       <div class="col-md-3">
      <!-- Conteúdo da quarta coluna -->
      <h2><font color="brown">Título</font></h2>
        <p><font color="#ffffff" >Vestibulum euismod sapien sed tellus condimentum, eget rutrum odio ultricies.</font></p>
    </div>
  </div>
</div>
{% endblock %}