{% extends 'base2.html' %}
{% load static %}
{% block title%}Anotação{% endblock %}


{% block body %}
    <center>
    <div class="card">
        <div class="card-body"><br><br>
            <h1><b>Anotações Gerais</b></h1>
    </div>
    </div>
    </center>
{% endblock %}


{% block input %}<
<center>
    <form action="{% url 'anotacoes_gerais' %}" method="post">{% csrf_token %}
        <b><font color="#ffffff">Título</font></b> <input type="text" name="titulo" placeholder="título" style="width: 300px;">
        <br><br>
        <b><font color="#ffffff">Nota:</font></b> <textarea cols="80" rows="6" placeholder="Anotação" name="nota"></textarea>
        <br><br>
        <input type="submit" value="Anotar">
    </form>
</center><br>
      <div class="message">
            {% if messages %}
            {% for message in messages %}
        <div class="alert {{message.tags}}">
            <center>{{message}}</center>
        </div>
            {% endfor %}
            {% endif %}
        </div>
{% endblock %}
