{% extends 'base3.html' %}
{% load static %}

{% block title %}
    Relatórios Eficiencia ETA
{% endblock %}

{% block body %}
{% endblock %}

{% block input %}
    <center><br><br><br>
    <font color="#000000" font="verdana" ><h2>Eficiancia da ETa (água bruta)</h2></font>
        <br>
        <ul class="list-group list-group-flush"><font color=fff0ff>Total de Analises da estação: <b>{{ cont }}</font></b></ul>
        <br>
{% for data, analises in pdf_analise_agua_por_data.items %}
<div class="card">
    <div class="card-body">

        <form action="{% url 'eficiencia_eta' %}" method="post">{% csrf_token %}
            <h6>{{ data }} <input type="submit" value="   :: IMPRIMIR PDF ::    "></h6>
            <input type="hidden" name="data" value="{{ data }}">
            <input type="hidden" name="analise_ids" value="{% for analise in analises %}{{ analise.pk }},{% endfor %}">

        </form>
    </div>
</div>
{% endfor %}

    </center>

{% endblock %}