{% extends 'base2.html' %}
{% load static %}
{% block title%}Fluor{% endblock %}
{% block body %}
<center>
<div class="card">
  <div class="card-body">
      <h1><b>Flúor Diário</b></h1>
  </div>
</div>
</center>
{% endblock %}

{% block input %}<br><br>
    <div class="tabela">
        <center>
            <div class="card-body">

        <div class="message">
            {% if messages %}
            {% for message in messages %}
        <div class="alert {{message.tags}}">
            <center>{{message}}</center>
        </div>
            {% endfor %}
            {% endif %}
        </div>
                <form method="post" action="{% url 'fluor' %}">{% csrf_token %}
                    <h4>Flúor:</h4>
                    <input type="number" step="any" name="analise_fluor" placeholder="0.00"><br><br>
                    <textarea cols="60" rows="5" placeholder="Relatório" name="relatorio"></textarea><br><br>
                    <input type="submit" value="Salvar" name="btn-form">
                </form>
            </div>
        </center>
    </div>

{% endblock %}


