{% extends 'base3.html' %}
{% load static %}

{% block title %}
    Todos os Relatórios
{% endblock %}

{% block body %}

{% endblock %}

{% block input %}
<center><br><br><br>
    <h2>Todos os Relatórios</h2>
</center>
<br><br>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-md">
    <a class="navbar-brand" href="#">Análises Externas</a>
    <a class="navbar-brand" href="#">Monitóramento Diário</a>
    <a class="navbar-brand" href="#">Eficiência da ETA</a>
    <a class="navbar-brand" href="#">Poços</a>
    <a class="navbar-brand" href="#">Hidrômetro</a>
    <a class="navbar-brand" href="#">Análises de Dados</a>
    <a class="navbar-brand" href="#">Operadores</a>
  </div>
</nav>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-md">
    <a class="navbar-brand" href="#">Controle Operacional</a>
    <a class="navbar-brand" href="#">Análise de Reservtório</a>
    <a class="navbar-brand" href="#">Adivertências</a>
    <a class="navbar-brand" href="#">Informes</a>
    <a class="navbar-brand" href="#">xxxxxxxxx xx</a>
  </div>
</nav>
{% endblock %}

