{% load static %}
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}

    {% endblock %}
    <title>{% block titulo %} Laboratório - SAAE {% endblock %}</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
  {% block bv %}{% endblock %}

    {% block body %}

  <nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'plataforma' %}">Área dos Operadores - </a>

     <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Controle/Análises</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'logout_view' %}">Sair</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'analises_basica_interna' %}">Análises Básica Interna</a>
          </li>
                    </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Análises Avançadas</a>
          </li>
          <li class="nav-item dropdown">
                      </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'patrimonio_cadastrado' %}">Patrimônio Cadastrado</a>
          </li>
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Análises Externas
            </a>
               <li class="nav-item">
            <a class="nav-link" href="#">Status de Patrimônio</a>
          </li>
              <li class="nav-item">
            <a class="nav-link" href="{% url 'index_relatorio' %}">Retatórios</a>
          </li>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Poços - SAAE</a></li>
              <li><a class="dropdown-item" href="{% url 'residencias' %}">Residência/Poços Particulares</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Registro de Manutenção externa</a></li>
            </ul>
          </li>
        </ul>

        <form class="d-flex mt-3" role="search" onsubmit="return false;">
          <input class="form-control me-2" type="text" id="patrimonioInput" placeholder="Número de Patrimônio" aria-label="Search">
          <button class="btn btn-success" type="submit" onclick="mostrarTexto()">Localizar</button>
        </form>
      </div>
    </div>
  </div>
</nav>
<br><br><br>
  <center><form method="post" action="{% url 'laboratorio' %}">{% csrf_token %}
    <h3>Médias das últimas
      <input type="number" placeholder="00" style="width: 53px;" name="numero_analises" min="1" value="0">
       Análises <input type="submit" value="Ok"></h3>
    </font>
    </form>
    {% if mensagem_lembrete %}
      <a href="{% url 'tarefas_aberta' %}" style="color: red;">
          {{ mensagem_lembrete }}
      </a>
        {% else %}
    {% endif %}

  <div class="card" style="width: 975px;">
  <div class="card-body">
    | <b>Cloro: {{ media_cloro|floatformat:2 }}</b> |
    <b>Ph: {{ media_ph|floatformat:2 }}</b> |
    <b>Turbidez: {{ media_turbidez|floatformat:2 }}</b> |
    <b>Fluor: {{ media_fluor|floatformat:2 }}</b> |
    <b>Cal no estoque: {{ r_cal }} sacos</b> |
    <b>Durabilidade do último cal: {{resultado}} horas</b> |
  </div></div></center>


  <script>
        function mostrarTexto() {
            var texto = document.getElementById("patrimonioInput").value;
            alert("Texto digitado: " + texto);
        }
    </script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart_cloro);

    function drawChart_cloro() {
        var valorG1Cloro = parseFloat('{{ valor_g1_cloro|safe }}');
        var valorG2Cloro = parseFloat('{{ valor_g2_cloro|safe }}');
        var valorG3Cloro = parseFloat('{{ valor_g3_cloro|safe }}');

        var valorG1HorasCloro = '{{ horasC1|safe }}'
        var valorG2HorasCloro = '{{ horasC2|safe }}'
        var valorG3HorasCloro = '{{ horasC3|safe }}'

        var data = google.visualization.arrayToDataTable([
            ['Horas', 'Cloro'],
            [valorG3HorasCloro,  valorG3Cloro],
            [valorG2HorasCloro,  valorG2Cloro],
            [valorG1HorasCloro,  valorG1Cloro]
            // Adicione mais linhas conforme necessário para mais valores
        ]);

        var options = {
            title: 'Cloro',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart_cloro'));

        chart.draw(data, options);
    }
</script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
 google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart_fluor);

function drawChart_fluor() {

        var valorG1Fluor = parseFloat('{{ valor_g1_fluor|safe }}');
        var valorG2Fluor = parseFloat('{{ valor_g2_fluor|safe }}');
        var valorG3Fluor = parseFloat('{{ valor_g3_fluor|safe }}');

        var valorG1HorasFluor = '{{ horasF1|safe }}'
        var valorG2HorasFluor = '{{ horasF2|safe }}'
        var valorG3HorasFluor = '{{ horasF3|safe }}'

  var data = google.visualization.arrayToDataTable([
    ['Horas', 'Fluor'],
    [valorG3HorasFluor,   valorG3Fluor],
    [valorG2HorasFluor,  valorG2Fluor],
    [valorG1HorasFluor, valorG1Fluor],
  ]);

  var options = {
    title: 'Fluor',
    curveType: 'function',
    legend: { position: 'bottom' },
    colors: ['red'] // Definindo a cor vermelha para a linha do gráfico
  };

  var chart = new google.visualization.LineChart(document.getElementById('curve_chart_fluor'));

  chart.draw(data, options);
}
</script>




<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
 google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart_turbidez);

function drawChart_turbidez() {


       var valorG1Turbidez = parseFloat('{{ valor_g1_turbidez|safe }}');
       var valorG2Turbidez = parseFloat('{{ valor_g2_turbidez|safe }}');
       var valorG3Turbidez = parseFloat('{{ valor_g3_turbidez|safe }}');

       var valorG1HorasTurbidez = '{{ horasT1|safe }}'
       var valorG2HorasTurbidez = '{{ horasT2|safe }}'
       var valorG3HorasTurbidez = '{{ horasT3|safe }}'

  var data = google.visualization.arrayToDataTable([
    ['Horas', 'Turbidez'],
    [valorG3HorasTurbidez,  valorG3Turbidez],
    [valorG2HorasTurbidez,  valorG2Turbidez],
    [valorG1HorasTurbidez, valorG1Turbidez],
  ]);

  var options = {
    title: 'Turbidez',
    curveType: 'function',
    legend: { position: 'bottom' },
    colors: ['orange'] // Definindo a cor vermelha para a linha do gráfico
  };

  var chart = new google.visualization.LineChart(document.getElementById('curve_chart_turbidez'));

  chart.draw(data, options);
}
</script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
 google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart_cor);

function drawChart_cor() {
        var valorG1Cor = parseFloat('{{ valor_g1_cor|safe }}');
        var valorG2Cor = parseFloat('{{ valor_g2_cor|safe }}');
        var valorG3Cor = parseFloat('{{ valor_g3_cor|safe }}');

       var valorG1HorasTurbidez = '{{ horasCOR1|safe }}'
       var valorG2HorasTurbidez = '{{ horasCOR2|safe }}'
       var valorG3HorasTurbidez = '{{ horasCOR3|safe }}'

  var data = google.visualization.arrayToDataTable([
    ['Horas', 'Cor'],
    [valorG3HorasTurbidez,  valorG3Cor],
    [valorG2HorasTurbidez,  valorG2Cor],
    [valorG1HorasTurbidez, valorG1Cor],
  ]);

  var options = {
    title: 'Cor',
    curveType: 'function',
    legend: { position: 'bottom' },
    colors: ['green'] // Definindo a cor vermelha para a linha do gráfico
  };

  var chart = new google.visualization.LineChart(document.getElementById('curve_chart_cor'));

  chart.draw(data, options);
}
</script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
 google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart_ph);

function drawChart_ph() {

        var valorG1Ph = parseFloat('{{ valor_g1_ph|safe }}');
        var valorG2Ph = parseFloat('{{ valor_g2_ph|safe }}');
        var valorG3Ph = parseFloat('{{ valor_g3_ph|safe }}');

        var valorG1HorasPh = '{{ horasP1|safe }}'
        var valorG2HorasPh = '{{ horasP2|safe }}'
        var valorG3HorasPh = '{{ horasP3|safe }}'

  var data = google.visualization.arrayToDataTable([
    ['Horas', 'pH'],
    [valorG3HorasPh,  valorG3Ph],
    [valorG2HorasPh,  valorG2Ph],
    [valorG1HorasPh, valorG1Ph],
  ]);

  var options = {
    title: 'pH',
    curveType: 'function',
    legend: { position: 'bottom' },
    colors: ['brown'] // Definindo a cor vermelha para a linha do gráfico
  };

  var chart = new google.visualization.LineChart(document.getElementById('curve_chart_ph'));

  chart.draw(data, options);
}

    </script>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <!-- Conteúdo da primeira parte -->
   <div id="curve_chart_cloro" style="width: 230px; height: 440px"></div>
    </div>
    <div class="col-sm-2">
      <!-- Conteúdo da segunda parte -->
      <div id="curve_chart_fluor" style="width: 230px; height: 440px"></div>
    </div>
    <div class="col-sm-2">
      <!-- Conteúdo da terceira parte -->
      <div id="curve_chart_ph" style="width: 230px; height: 440px"></div>
    </div>
    <div class="col-sm-2">
      <!-- Conteúdo da quarta parte -->
      <div id="curve_chart_turbidez" style="width: 230px; height: 440px"></div>
    </div>
    <div class="col-sm-2">
      <!-- Conteúdo da quinta parte -->
      <div id="curve_chart_cor" style="width: 230px; height: 440px"></div>
    </div>
  </div>
</div>

    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </div></body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</html>


