{% extends 'base3.html' %}
{% load static %}

{% block title %}
    Relatórios
{% endblock %}

{% block body %}

{% endblock %}

{% block input %}
<center><br><br><br>
    <font color="#000000" font="verdana" ><h2>Histórico de "Analises Externas"</h2></font>
    <br>

    <form action="{% url 'relatorios' %}" method="post">{% csrf_token %}
        <input name="nome_pesquisa" type="text" placeholder="Buscar Análises Pelo NOME">
        <input type="submit" value=" Ok ">
    </form>
    <hr>

    <i>{{mensagem_pesquisa}}</i>

    {% for item in mosta_analise %}
            <br>
<div class="card bg-light">
    <h5 class="card-title">
        <a href="{% url 'pdf_relatorio' item.id %}" style="text-decoration: none; color: red;">
            <p> {{item.nome}}, {{ item.cidade }}, {{ item.rua }}, <b>Coliformes: <u>{{item.analise}}</u></b></p>
        </a>
    </h5>
</div>


    {% endfor %}


        {% for item in busca_titulo %}
        <div class="card mb-1" style="max-width: 80rem;">
            <br>
            <h5 class="card-title">
                <a href="{% url 'pdf_relatorio' item.id %}" style="text-decoration: none; color: red;">
                    <p> {{item.nome}}, {{ item.cidade }},
                        {{ item.rua }},
                        <b>Coliformes: <u>{{item.analise}}</u></b></p>
                </a>
            </h5>
        </div>
    {% endfor %}


    <i>{{nota}}</i></center>
{% endblock %}
