{% extends 'base2.html' %}
{% load static %}
{% block title%}Reservatório{% endblock %}
{% block body %}
    <center>
    <div class="card">
        <div class="card-body"><br><br>
            <h1><b>Reservatórios</b></h1>
    </div>
    </div>
    </center>
{% endblock %}
{% block input %}<br><br>

               <center> <form method="post" action="{% url 'reservatorio' %}">{% csrf_token %}
                   <b> <font color="#ffffff">Cloro:</font></b>
                    <input type="number" step="any" name="cloro_reservatorio" placeholder="0.00">
                   <b> <font color="#ffffff">pH:</font></b>
                    <input type="number" step="any" name="ph_reservatorio" placeholder="0.00">
                   <b> <font color="#ffffff">Fluor:</font></b>
                    <input type="number" step="any" name="fluor_reservatorio" placeholder="0.00">
                   <b> <font color="#ffffff">Turbidez:</font></b>
                    <input type="number" step="any" name="turbidez_reservatorio" placeholder="0.00">
                   <label for="reservatorios"><b><font color="#ffffff">Reservatório:</font></b></label>
<select name="reservatorios" id="reservatorios">
    {% for reservatorio in reservatorios %}
        <option value="{{ reservatorio.id }}">{{ reservatorio.reservatorio_cadastrado }}</option>
    {% endfor %}
</select>

                    <br><br>
                    <textarea cols="60" rows="5" placeholder="Relatório" name="relatorio"></textarea><br><br>
                    <input type="submit" value="Salvar" name="btn-form">
               </form></center> {% for item in reservatorios_selecionados %}


{% endfor %}
<br><br><hr>

{% endblock %}
